.start {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.start h4 {
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

.start h2 {
  font-size: 140px;
  font-weight: 100;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  margin: 0px;
  cursor: pointer;
}

.toucan {
  height: 20vh;
  position: fixed;
  top: 20vh;
}

.doge {
  height: 20vh;
  position: fixed;
  bottom: 20vh;
  right: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.raceWrapper {
  height: 90vh;
  width: 100vw;
  position: fixed;
  cursor: none;
}

.snail {
  height: 15vh;
  position: relative;
  top: 1vh;
  cursor: none;
}

.finish {
  height: 10vh;
  position: fixed;
  bottom: 5vh;
  right: 10vw;
  padding: 80px;
}

.moleContainer {
  height: 90vh;
  width: 100vw;
  position: fixed;
}

.mole {
  height: 15vh;
  position: fixed;
  cursor: crosshair;
  user-select: none;
}

.ostrich {
  height: 15vh;
  position: fixed;
  cursor: crosshair;
  user-select: none;
}

.click {
  width: 10vw;
  opacity: 0.5;
  position: fixed;
  left: 45vw;
  top: 40vh;
  animation-name: click;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  pointer-events: none;
}

@keyframes click {
  0% {left: 18vw; top: 25vh}
  50% {left: 25vw; top: 30vh}
  100% {left: 18vw; top: 25vh}
}

.exampleMole {
  height: 200px;
  opacity: 0.5;
}

.tick {
  height: 100px;
  margin-right: 40px;
  opacity: 0.5;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.cross {
  height: 100px;
  margin-left: 40px;
  opacity: 0.5;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {height: 100px}
  50% {height: 130px}
  100% {height: 100px}
}

.exampleContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 200px;
  margin-top: 200px;
  width: 100%;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.monster {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 40vh;
}

.animal {
  height: 20vh;
  position: fixed;
  z-index: 2;
  cursor: none;
}

.mouseIcon {
  width: 15vw;
  opacity: 0.5;
  position: fixed;
  left: 45vw;
  top: 40vh;
  animation-name: mouse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes mouse {
  0% {left: 40vw; top: 35vh}
  50% {left: 50vw; top: 45vh}
  100% {left: 40vw; top: 35vh}
}

.animalContainer {
  height: 90vh;
  width: 100vw;
}

.duplicateContainer {
  height: 90vh;
  width: 100vw;
}

.end h2 {
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  cursor: pointer;
}

.end h3 {
  font-size: 60px;
  font-weight: 100;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

.end h4 {
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

.deer {
  position: fixed;
  bottom: 0;
  left: -80px;
  height: 50vh;
}

.lion {
  position: fixed;
  bottom: -60px;
  right: 0;
  height: 50vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.score {
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  margin-right: 10px;
}

.time {
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  margin-left: 10px;
}

.title {
  font-size: 60px;
  font-family: 'Amatic SC', cursive;
}

.topBar {
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.title {
  position: absolute;
  width: 100%;
  text-align: center;
}

.bug {
  width: 100px;
  position: fixed;
  cursor: crosshair;
}

.fish {
  width: 200px;
  position: fixed;
  z-index: 2;
}

.chips {
  width: 75px;
  position: fixed;
}

.fishContainer {
  display: flex;
  justify-content: center;
  height: 90vh;
  align-items: center;
}

.hiddenInput {
  opacity: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  position: fixed;
  cursor: none;
}

.keys {
  width: 400px;
  opacity: 0.5;
  animation-name: pulseKeys;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes pulseKeys {
  0% {width: 400px}
  50% {width: 500px}
  100% {width: 400px}
}

.letterContainer {
  width: 200px;
  position: fixed;
}

.letter {
  color: #4db8ff;
  position: absolute;
  left: 110px;
  top: 25px;
  font-size: 60px;
  font-weight: 500;
  font-family: 'Amatic SC', cursive;
}

.foodWrapper {
  height: 90vh;
  width: 100vw;
  position: fixed;
}

.mouseCapture {
  border: 2px solid black;
  position: fixed;
  width: 100vw;
  height: 250px;
  bottom: 0;
  cursor: none;
}

.plate {
  width: 200px;
  position: fixed;
  bottom: 0;
  cursor: none;
}

.food {
  width: 100px;
  position: fixed;
  left: 25vw;
  bottom: 80vh;
  padding: 0 40px;
  z-index: 2;
  animation-name: foodDrop;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes foodDrop {
  0% {bottom: 100vh}
  10% {bottom: 90vh}
  20% {bottom: 85vh}
  30% {bottom: 75vh}
  40% {bottom: 70vh}
  50% {bottom: 65vh}
  60% {bottom: 55vh}
  70% {bottom: 45vh}
  80% {bottom: 30vh}
  90% {bottom: 15vh}
  100%  {bottom: 0vh}
}